@page "/"
@using TaxaApp.Kode
@inject GoogleMapsService MapsService
@inject IJSRuntime JSRuntime


<iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
src="https://www.google.com/maps/embed/v1/view?zoom=11&center=55.6761%2C12.5683&key=AIzaSyAMX2xaib8pawKfNoBlzSSFy5tCzo3RI7g"></iframe>



<h3>Taxa prisudregner</h3>

<!-- Google Maps-box -->
<div id="map"></div>

<div>
    <label for="StartAdresse">Start destination:</label>
    <input id="StartAdresse" placeholder="Vælg startadresse på kortet" @bind="Taxatur.StartAdresse" />
</div>
<div>
    <label for="SlutAdresse">Slut destination:</label>
    <input id="SlutAdresse" placeholder="Vælg slutdestination på kortet" @bind="Taxatur.SlutAdresse" @bind:event="onchange" />
</div>

<div>
    <label for="VognType">Vogntype:</label>
    <select id="VognType" @bind="Taxatur.VognType">
        <option value="Almindelig vogn">Almindelig vogn</option>
        <option value="Stor vogn">Stor vogn</option>
        <!-- Tilføj flere biltyper efter behov -->
    </select>
</div>
<div>
    <label for="HarCykel">Cykel:</label>
    <input id="HarCykel" type="checkbox" @bind="Taxatur.HarCykel" />
</div>
<div>
    <label for="HarLiftvogn">Liftvogn:</label>
    <input id="HarLiftvogn" type="checkbox" @bind="Taxatur.HarLiftvogn" />
</div>

<button @onclick="UdregnPris">Udregn Pris</button>

<div>
    <label>Pris:</label>
    <span>@PrisInfo.TotalPris DKK</span>
</div>

@code {
    private Taxatur Taxatur = new Taxatur();
    private PrisUdregner PrisUdregner { get; set; }
    private PrisUdregner.PrisInformation PrisInfo = new PrisUdregner.PrisInformation();

    public Index()
    {
        PrisUdregner = new PrisUdregner();
    }

    private async Task UdregnPris()
    {
        // Hent afstanden fra Google Maps
        int distanceInKm = await MapsService.GetDistanceIKm(Taxatur.StartAdresse, Taxatur.SlutAdresse);




        // Opdater afstanden i Taxatur
        Taxatur.DistanceIKm = distanceInKm;

        // Beregn prisen ved at bruge PrisUdregnerService
        PrisInfo = PrisUdregner.UdregnPris(Taxatur);

        // Vis mellemværdier i konsollen
        Console.WriteLine($"Afstand: {Taxatur.DistanceIKm} km");
        Console.WriteLine($"StartPris: {PrisInfo.StartPris}");
        Console.WriteLine($"KilometerPris: {PrisInfo.KilometerPris}");
        Console.WriteLine($"MinutPris: {PrisInfo.MinutPris}");
        Console.WriteLine($"TotalPris: {PrisInfo.TotalPris}");

    }
}
